@import "tailwindcss";
@plugin "daisyui";
a.active{
    @apply  text-yellow-500  font-medium
  


}
.btn-primary{
  @apply px-6 py-2 bg-yellow-400 hover:bg-yellow-500 text-black font-semibold rounded-lg shadow-md transition duration-200 
} 
.btn-outlines{
    @apply  btn btn-outline shadow-md border-amber-500 text-white
}
.btn-primary:hover{
  @apply opacity-80
}
.btn-outlines:hover{
  @apply  bg-gradient-to-br from-red-800 hover:via-amber-700 hover:to-stone-950
}
.text-primary{
   @apply text-amber-500
}
