
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
  font-family: "Oswald", sans-serif;
 
}
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}



@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
a.active{
    @apply text-green-500  font-medium
  


}
.btn-primary{
  @apply px-6 py-2 bg-gradient-to-br from-green-400 to-blue-800  text-black font-semibold rounded-lg shadow-md transition duration-200 
} 
.btn-outlines{
    @apply  btn btn-outline shadow-md border-amber-500 text-white
}
.btn-primary:hover{
  @apply opacity-80
}
.btn-outlines:hover{
  @apply  bg-gradient-to-br from-red-800 hover:via-amber-700 hover:to-stone-950
}
.text-title{
   @apply text-6xl font-bold bg-gradient-to-br from-green-400 to-blue-800  bg-clip-text text-transparent text-center
}
.text-primary{
   @apply  font-bold bg-gradient-to-br from-green-400 to-blue-800  bg-clip-text text-transparent 
}